USE [master]
GO
/****** Object:  Database [QuanLyBanHang_k235480106032]    Script Date: 5/2/2026 1:30:58 AM ******/
CREATE DATABASE [QuanLyBanHang_k235480106032]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHang_k235480106032', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K235480106032\MSSQL\DATA\QuanLyBanHang_k235480106032.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanHang_k235480106032_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K235480106032\MSSQL\DATA\QuanLyBanHang_k235480106032_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHang_k235480106032].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHang_k235480106032]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeDoanhThuSanPham]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_ThongKeDoanhThuSanPham]()
RETURNS @BangThongKe TABLE (
    [TenSP] NVARCHAR(200),
    [TongSoLuongBan] INT,
    [TongDoanhThu] MONEY
)
AS
BEGIN
    INSERT INTO @BangThongKe
    SELECT 
        s.[TenSanPham], 
        SUM(c.[SoLuongBan]), 
        SUM(c.[SoLuongBan] * c.[DonGia])
    FROM [SanPham] s
    JOIN [ChiTietHoaDon] c ON s.[MaSanPham] = c.[MaSanPham]
    GROUP BY s.[TenSanPham];
    
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhThanhTienSauThue]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhThanhTienSauThue] (@DonGia MONEY, @SoLuong INT)
RETURNS MONEY
AS
BEGIN
    RETURN (@DonGia * @SoLuong) * 1.1;
END;

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](200) NOT NULL,
	[GiaBan] [money] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[MaLoai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LocSanPhamTheoLoai]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LocSanPhamTheoLoai] (@MaLoai INT)
RETURNS TABLE
AS
RETURN (
    SELECT [MaSanPham], [TenSanPham], [GiaBan], [SoLuongTon]
    FROM [SanPham]
    WHERE [MaLoai] = @MaLoai
);

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuongBan] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[NgayBan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  DEFAULT (getdate()) FOR [NgayBan]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTiet_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_SoLuongBan] CHECK  (([SoLuongBan]>=(1)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_SoLuongBan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_GiaBan] CHECK  (([GiaBan]>(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_GiaBan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SoLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SoLuongTon]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bao CaoBanHangChiTiet]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Bao CaoBanHangChiTiet]
AS
BEGIN
    SELECT 
        CT.[MaChiTiet],
        SP.[TenSanPham],
        L.[TenLoai],
        CT.[SoLuongBan],
        CT.[DonGia],
        (CT.[SoLuongBan] * CT.[DonGia]) AS [ThanhTien]
    FROM [ChiTietHoaDon] CT
    JOIN [SanPham] SP ON CT.[MaSanPham] = SP.[MaSanPham]
    JOIN [LoaiSanPham] L ON SP.[MaLoai] = L.[MaLoai]
    ORDER BY CT.[MaChiTiet] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoBanHangChiTiet]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bước 2: Tạo Procedure (Hãy bôi đen từ chữ CREATE đến chữ GO này rồi nhấn Execute)
CREATE PROCEDURE [dbo].[sp_BaoCaoBanHangChiTiet]
AS
BEGIN
    SELECT 
        CT.[MaChiTiet],
        SP.[TenSanPham],
        L.[TenLoai],
        CT.[SoLuongBan],
        CT.[DonGia],
        (CT.[SoLuongBan] * CT.[DonGia]) AS [ThanhTien]
    FROM [ChiTietHoaDon] CT
    JOIN [SanPham] SP ON CT.[MaSanPham] = SP.[MaSanPham]
    JOIN [LoaiSanPham] L ON SP.[MaLoai] = L.[MaLoai]
    ORDER BY CT.[MaChiTiet] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanPham]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemSanPham]
    @MaSP INT,
    @TenSP NVARCHAR(200),
    @Gia MONEY,
    @SoLuong INT,
    @MaLoai INT
AS
BEGIN
    -- 1. Kiểm tra giá bán
    IF @Gia <= 0
    BEGIN
        PRINT N'Lỗi: Giá bán phải lớn hơn 0!';
        RETURN;
    END

    -- 2. Kiểm tra mã loại tồn tại
    IF NOT EXISTS (SELECT 1 FROM [LoaiSanPham] WHERE [MaLoai] = @MaLoai)
    BEGIN
        PRINT N'Lỗi: Mã loại sản phẩm không tồn tại!';
        RETURN;
    END

    -- 3. Thực hiện thêm nếu thỏa mãn
    INSERT INTO [SanPham] ([MaSanPham], [TenSanPham], [GiaBan], [SoLuongTon], [MaLoai])
    VALUES (@MaSP, @TenSP, @Gia, @SoLuong, @MaLoai);
    
    PRINT N'Thêm sản phẩm thành công!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TongGiaTriKhoTheoLoai]    Script Date: 5/2/2026 1:30:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TongGiaTriKhoTheoLoai]
    @MaLoai INT,
    @TongGiaTri MONEY OUTPUT -- Tham số trả về
AS
BEGIN
    SELECT @TongGiaTri = SUM([GiaBan] * [SoLuongTon])
    FROM [SanPham]
    WHERE [MaLoai] = @MaLoai;

    -- Nếu không có sản phẩm nào, trả về 0 thay vì NULL
    SET @TongGiaTri = ISNULL(@TongGiaTri, 0);
END;
GO
USE [master]
GO
